@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '../variables.css';

:root {
  --brand-color: #c91e4a;
}

.root {
  background: #83c55c;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}

.brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.brandTxt {
  margin-left: 10px;
}

.nav {
  float: right;
  margin-top: 6px;
}

.banner {
  text-align: center;
}

.bannerTitle {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 22px;
  padding-left: 5em;
  font-weight: bold;
  font-size: 1.5em;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0;
}
